<!-- 
<nav class="navbar navbar-expand-lg" style="background-color: #a6ffcb;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets\25060.jpg" alt="logo" style="width:30px; height: auto">
    </a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JalaStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" routerLink="/Home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/Products" routerLinkActive="active">Products</a>
        <a class="nav-link" routerLink="/Order" routerLinkActive="active">Order</a>
        
      </div>

    </div>
  </div>
</nav>
 -->




<nav class="navbar navbar-expand-lg" style="background-color: #834d9b">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Group 2.svg" alt="logo" style="width:30px; height:auto;">
    </a>
<!-- Cart icon with badge -->
<div class="d-flex align-items-center">
  <a routerLink="/card" class="position-relative me-3">
    <img src="assets/shopping-cart-svgrepo-com.svg" alt="Cart" style="width: 24px;">
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      {{ cartCount }}
    </span>
  </a>
</div>

    <a class="navbar-brand" style="color: white;" routerLink="/">Jala Store</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/Products" routerLinkActive="active">Products</a>
        <a class="nav-link" routerLink="/Order" routerLinkActive="active">Order</a>
      </div>

      
    </div>
  </div>
</nav>
