<div class="container">
  <!-- Category Filter -->
  <div class="row d-flex justify-content-center align-items-center mb-4 mt-3">
    <div class="col-12 col-md-4">
      <select class="form-select" [(ngModel)]="chooseCatID" (change)="getSelCat()">
        <option *ngFor="let cat of catList" [value]="cat.cat_Id">{{ cat.namecat }}</option>
      </select>
    </div>
  </div>

  <!-- Cards Grid -->
  <div class="row g-4 justify-content-center">
    @for (Item of productslist; track Item.product_Id)
    {
      <div class="col-12 col-sm-10 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card mb-4" style="width: 100%; max-width: 20rem;">
          
          @if (Item.images[0] == null)
          {
            <img style="width:100%;height:180px" src="/images/NoImage.png" class="card-img-top" alt="...">
          }
          @if (Item.images[0] != null)
          {
            <a [routerLink]="'/details/' + Item.product_Id">
              <img style="width:100%;height:180px"
                   [src]="'https://jala44.bsite.net/Images/' + Item.images[0]"
                   class="card-img-top"
                   [alt]="Item.name">
            </a>
          }

          <div class="card-body">
            <h5 class="card-title">{{ Item.name }}</h5>
            <p class="card-text">
              <b>الوصف: </b>{{ Item.content }} <br />
            </p>

            <p class="card-text">
              <b>السعر : </b>{{ Item.price }}
            </p>

            <div class="d-flex align-items-center mt-2" style="gap: 0.5rem;">
              <b class="me-2">اللون:</b>
              <div class="color-options d-flex">
                <div *ngFor="let color of Item.colors"
                     class="color-circle me-2"
                     [ngStyle]="{
                       'background-color': color,
                       'border': selectedColor === color ? '2px solid black' : '1px solid #ccc'
                     }"
                     (click)="selectColor(color)"
                     [title]="color">
                </div>
              </div>
            </div>

            <p class="card-text"
               [ngClass]="{ 'description': expandedProductId !== Item.product_Id }"
               (click)="toggleDescription(Item.product_Id)"
               style="cursor: pointer;"
               [title]="expandedProductId === Item.product_Id ? '' : Item.description">
              {{ Item.description }}
            </p>

            <div class="text-center">
              <button type="button"
                      class="btn btn-sm btn-success"
                      style="background: deeppink;"
                      (click)="addtocart(Item)">
                أضف إلى السلة
              </button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  <!-- Pagination -->
  <div class="row justify-content-center my-4">
    <div class="col-auto">
      @if(productslist.length >= 8)
      {
        <a class="btn" style="background: #C779D0; color: white;" (click)="onNext()">Next</a>
      }
    </div>
    <div class="col-auto">
      <a class="btn" style="background: #C779D0; color: white;">{{ filterObj.pg }}</a>
    </div>
    <div class="col-auto">
      @if(filterObj.pg > 1)
      {
        <a class="btn" style="background: #C779D0; color: white;" (click)="onPrevious()">Prev</a>
      }
    </div>
  </div>
</div>
